---
url: https://www.servicesaustralia.gov.au/employment-status-verification
title: Employment status verification - Services AustraliaServices AustraliaServices Australia
scrapedAt: 2026-02-17T20:39:45.208Z
source: servicesaustralia.gov.au
---
# Employment status verification

We may ask you to verify an employee’s or job seeker's employment status. This helps to make sure they get the right payments or services from us.

## on this page

-   [Requests for employee information](#a1)
-   [Employment Separation Certificates](#a2)

We have authority to get information from employers under section 192 of the _Social Security (Administration) Act 1999_.

## Requests for employee information

We may ask you to complete a report verifying details about a past or present employee. This helps us to make sure they get the right payments or services from us.

Read about [requests for employee information](/requests-for-employee-information?context=23111).

## Employment Separation Certificates

[Employment Separation Certificates](/su001) help us pay people the right amount from the correct date. You need to complete the certificate within 14 days of the request. This is according to section 196 of the _Social Security (Administration) Act 1999_.

[

Requests for employee information

We may ask you to complete a report to verify details about a past or present employee. This helps make sure they receive correct payments or services from us.


](/requests-for-employee-information?context=23111)
